@mixin background($backgroundImage, $background-size: contain, $background-position: center, $background-repeat: no-repeat) {
  background-image: $backgroundImage;
  background-size: $background-size;
  background-position: $background-position;
  background-repeat: $background-repeat;
}